html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../img/field2.png");
  background-attachment: fixed;
  background-size: cover;

  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

#container {
  /* display: flex; */
}

.car {
  /* margin: auto; */
  position: absolute;
  left: 755px;
  top: 265px;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 81px;
}

.spot {
  margin-right: auto;
  margin-top: 40px;
  position: absolute;
  left: 45px;
  top: 212px;
  right: 0;
  width: 185px;
  height: 130px;
  z-index: -1;
}

.scoreboard {
  position: fixed;
  margin: 10px;
  padding: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 26, 255);
  border-radius: 15px;
}

.explosion {
  margin-right: auto;
  margin-top: 40px;
  position: absolute;
  left: -40px;
  top: 212px;
  right: 0;
  width: 185px;
  height: 130px;
  z-index: 1;
}

.success {
  margin-right: auto;
  margin-top: 40px;
  position: absolute;
  left: 45px;
  top: 212px;
  right: 0;
  width: 340;
  height: 338px;
  z-index: 1;
}

.fail {
  margin-right: auto;
  margin-top: 40px;
  position: absolute;
  left: 45px;
  top: 212px;
  right: 0;
  width: 340px;
  height: 338px;
  z-index: 1;
}

.flying{
  transition: width 2s, height 2s, background-color 2s, transform 2s;  
}